*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
**/__pycache__/
.env
model0_classif_eye.h5
models.load_model('model1_models_model_inception2_v0_N_70.h5
models.load_model('model2_models_model_vlundi_v1_GCAHMO_58.h5
